@{
    ViewData["Title"] = "Sobre";
}

<h1>Sobre o Projeto</h1>

<p>
    Este projeto foi desenvolvido utilizando ASP.NET Core MVC.
</p>

<p>
    O objetivo é praticar Controllers, Views, Rotas e navegação entre páginas.
</p>

<p>
    Desenvolvido por Eduardo Mendes.
</p>